---
layout : default
title  : Pan-African Baraza Online Magazine
support_line: Pan-African Baraza — baraza means a community meeting or forum or place for organizing. The idea is not to set up yet another Pan-African institution, but rather to establish a formation that is a convenor, forum and organiser, a safe place where activists, intellectuals and social movements can interact and debate and organise around key strategic issues facing the continent. Far from being in competition to other Pan-Africanist institutions, it is in many senses a complement to those institutions. The Pan-African Baraza will be an independent institution.
image  : assets/img/logo.png
---

<main class="home">
  {% include home/carousel.html %}
  {% include home/featured.html %}
  {% include home/recent.html %}

  {% include home/section-zero.html %}
  {% include home/section-two.html %}
  {% include home/section-three.html %}
  {% include home/section-one.html %}
</main>
