---
layout : default
title  : Brasil de Fato - São Paulo 
support_line: Com circulação nacional, o Brasil de Fato reúne jornalistas, articulistas e intelectuais de esquerda, que se uniram para formar uma ampla rede nacional e internacional de colaboradores. É voltado para o debate de idéias e a análise dos fatos do ponto de vista da necessidade de mudanças sociais no país. 
tags:
  - tag: Movimento dos trabalhadores rurais sem terra
  - tag: MST
image  : assets/img/logo.png
---

<main class="home">
  {% include home/carousel.html %}
  {% include home/featured.html %}
  {% include home/recent.html %}

  {% include home/section-zero.html %}
  {% include home/section-two.html %}
  {% include home/section-three.html %}
  {% include home/section-one.html %}
</main>
