<footer>
  <article class="social">
    <h1>Social</h1>
    <ul>
      <li>
        <a target="_blank" class="facebook" href="https://www.facebook.com/brasildefatoSP">Facebook</a>
      </li>
      <li>
        <a target="_blank" class="twitter" href="https://twitter.com/Brasil_de_Fato">Twitter</a>
      </li>
    </ul>
  </article>

  <article class="links">
    <h1>Links</h1>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/publicidade">Publicidade</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/expediente">Expediente</a>
      </li>
    </ul>
  </article>


  <article class="parceiros">
    <h1>Partners</h1>
    <ul>
      <li>
        <a target="_blank" href="http://www.brasildefato.com.br">
          <img alt='Brasil de Fato link'  src="http://farm6.staticflickr.com/5588/14681224595_ed98aefc58_b.jpg" />
        </a>
      </li>
      <li>
        <a target="_blank" href="http://operamundi.uol.com.br/">
          <img alt='Opera Mundi' SRC="http://farm3.staticflickr.com/2950/15185878490_2197324d2a_b.jpg" />
        </a>
      </li>
      <li>
        <a target="_blank" href="http://redebrasilatual.com.br/">
          <img alt='Rede Brasil Atual' src="http://farm4.staticflickr.com/3916/15185995698_ac6fb4f6f5_b.jpg" />
        </a>
      </li>
      <li>
        <a target="_blank" href="http://spressosp.com.br">
          <img alt='Spresso SP' src='http://farm4.staticflickr.com/3927/15186084597_13eae70335_b.jpg'/>
        </a>
      </li>
    </ul>
  </article>
  <small> Pan-African Baraza Online Magazine - 2014</small>
</footer>
