<header id="site-header">
  <a href="{{ site.baseurl }}/" id="logo">
    <img src='{{ site.baseurl }}/assets/img/logo.png'
    alt='Cover Image'/>
  </a>
  
  <nav role="navigation">
    <button id="open-menu">Open Menu</button>
    
    <ul id="main-menu">
      <li><a href="{{ site.baseurl }}/about-us">ABOUT US</a></li>
      <li><a href="{{ site.baseurl }}/past">RECLAIMING THE PAST</a></li>
      <li><a href="{{ site.baseurl }}/present">CONTESTING THE PRESENT</a></li>
      <li><a href="{{ site.baseurl }}/future">REINVENTING THE FUTURE</a></li>
    </ul>
    
    <button id="open-search">Open Search</button>

    {% ddg_search_form site:pan-african-baraza.github.io/magazine prefill:Pesquisar... %}
  </nav>
</header>
