{% assign recipe = site.recipe %}
{% assign cultural_agenda = site.cultural_agenda %}
{% assign horoscope = site.horoscope %}


<section class='miscelaneous'>
   <article class='headline'>
      {% include headline-text-over-image.html post=cultural_agenda %}
  </article>
  
    <article class='headline'>
      {% include headline-text-over-image.html post=recipe %}
    </article>
  <article class='headline'>
    {% include headline-text-over-image.html post=horoscope %}
  </article>
</section>
